<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>

    <div id="app">

        <p>
            <input type="text" v-model="search" placeholder="Cari">
        </p>

        <div v-for="book in filterBook">
            <ul>
                <li>{{ book }}</li>
            </ul>
        </div>
        
        
    </div>

    <script>
            const app = new Vue({
            el: '#app',
            data: {
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                ],
                search: ''
                
            },
            computed: {
                filterBook: function(){
                    return this.books.filter((book)=>{
                        return book.toLowerCase().match(this.search.toLowerCase())
                    });
                }
            }
            });
    </script>
  </body>
</html>